@import "compass/css3";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";

// Mixins

@mixin  align ( $align )  { 
 
	text-align: $align;
}

@mixin  size ( $size )  { 
 
	font-size: $size;
}

@mixin google(){

	font-family: 'Open Sans', sans-serif;

}

@mixin normal (){

	font-family: 'Open Sans', sans-serif;

}


select::-moz-focus-inner, button::-moz-focus-inner,  input[type="reset"]::-moz-focus-inner,  input[type="button"]::-moz-focus-inner,  input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {

border: 1px dotted transparent;

padding: 0 2px;

}

#busqueda .search_results .universidades .uni > div strong
{
	width:125px;
}

a, a:hover {
	text-decoration: none !important;
}

.java_filter {
	max-width:320px;
	margin-top: 30px;

	h2 {
		font-size:18px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
		margin-top: 4px;

	}



	h4{
		text-transform: uppercase;
		font-size:11px;
		margin: 0 0 0 -12px;
		display:block;
		clear:both;
		padding:8px 0 0;


	}

	#filtrar_rango {
		div[class*="col-md"] {
			padding-left:0;
		}
		button{
			margin-top:20px;
			width:100%;

		}
		.label_ {
			
			display:block;
			width:100%;
			color:#555;
			margin-bottom:-5px;

			select{
				@include appearance(none);
				border:1px solid #00284e;
				@include border-radius(5px);
				color:#555;
				font-weight:normal;
			}

			&:after {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				color: #ff4c4c;
				content: "";
				font-family: FontAwesome;
				height: 100%;
				line-height: 30px;
				padding: 10px 13px;
				pointer-events: none;
				position: absolute;
				right: 12px;
				top: 0;
				width: auto;
			}

		}

		input[type="text"] {
			margin:3px 0;
		}

		input {
			border:1px solid #00284e;
			@include border-radius(5px);
			color:#555;
			background:none;	
		}

		.checkbox {
			display:inline-block;
			line-height: 12px;
			@include google;
			margin-bottom:-14px;
			input {
				margin:-9px 12px 0 -20px;
			}
		}
	}
}

.results {
	h3{
		font-weight: bold;
		font-size:24px !important;
	}
}

.uni_full {
	
	.container {
		@include border-radius(10px 10px 0 0);
		@include box-shadow(#999 2px 2px 10px);
		max-height:488px;
		overflow-y:scroll; 
	}

	

	.personal {
		width:44% !important;
	} 

	.ciudades_cobertura, .ingresos, .observaciones{
		width:91% !important;
		
	}
	.see_more > div ul li {
		float:left;
		margin-right:10px;
		min-width: 150px;
	}

	.ranking {
		width:68% !important;
	}

	.sede, .pagina_web, .acreditaciones, .poblacion_primer_ingreso, .ingresos,  .ciudades_cobertura, .observaciones, .tier {
		margin-left:40px !important;
	}

	.sede, .rector, .email, .presidente  {
		 background: none repeat scroll 0 0 #f9f9f9;
	    display: inline-block;
	    margin: 5px 20px 10px 0;
	    min-height: 74px;
	    padding: 15px;
	    vertical-align: top;
	    width: 21%;
	    border:1px solid #e9e9e9;
	}

	> div strong {
		font-weight:700;
		color:#000;
	}

	.nombre {
		background-color:#F1F3F7;
		border-bottom:1px solid #EBEDF3;
		padding:25px;
		@include border-radius(10px 10px 0 0);
		@include google;
		font-size:16px;
	}


	.ingresos {
		ul {
			li {
				min-width: 48% !important;

				i {
					min-width: 210px;
				}
			}
		}
	}


}

.cobertura_btn {
	border:1px solid #fff;
	font-family: "Open Sans",sans-serif;
    font-size: 11px;
    outline: medium none;
    padding:8px  30px 8px 15px;
    color:#fff;
    font-weight:700;
    @include border-radius(5px);
}

#cobertura {
	h4 {
		text-align: center;
		text-transform: uppercase;
		font-size:14px;
		font-weight: 400;
	}
	button {
		background-color:#ff4c4c !important;
	}
	.checkbox {
		width:185px;
	}
}

.filters{
	padding:0 10px;
}

#busqueda h2 {
	margin-left:0 !important;
}

#busqueda .busqueda_head form select option {
	background:#fff;
	color:#444;
	text-transform:capitalize;
}

// Home 

body.home {
	
	background:url(../img/bg_2.png) no-repeat;
	background-size:100%;	
	
	.login_head {
		background:#00284E;
		height:50px;
		position:fixed;
		top:0;
		width:100%;

		.container {
			background:url(../img/l_l.png) no-repeat;
			max-width:1280px;
			margin:0 auto;
			height:50px;
			background-position:top;
		}
	}	
	

	.login_footer
	{
		position:fixed;
		bottom:0;
		background:rgba(250,250,250,0.7);
		height:31px;
		width:100%;

		.container	 {
			color:#00284E;
			font-family:verdana;
			font-size:12px;
			margin:0 auto;
			line-height:31px;
			text-align:center;
		}
	}

	.content_paises {
		background-color: rgba(255,255,255,0.6);
		max-width:800px;
		margin:10% auto;
		@include box-shadow(#999 2px 2px 10px);
		@include border-radius(10px);

		h1 {
			@include google;
			text-align:center;
			text-transform: uppercase;
			font-weight:700;
			font-size:16px;
			margin-bottom:15px;
			background-color:#f1f3f7;
			border: 1px solid #ebedf3;
			padding:25px;
			@include border-radius(10px 10px 0 0);

		}
		form{
	
			padding:20px 40px;
			margin-left:80px;		
	
		}

		.radio {
			display:inline-block;
			vertical-align:top;
			width:31%;
			margin-right: 1%;

			&:first-child{
				margin-top:-10px;
			}

			label {
				@include google;
				font-size:11px;
			}

			input {
				margin-top:14px;
			}
			img {
				margin:0 10px;
			}
		}
	}


	button {
		background-color: #ff4c4c;
		border: medium none;
		@include border-radius(5px);
		box-shadow: none;
		color: #fff;
		display: block;
		@include google;
		font-size: 14px;
		padding: 15px;
		text-transform: uppercase;
		width: 50%;
		margin:10px auto 10px 16%;
		i{
			margin-right:10px;
		}
	}
}

#ordenar {
	position:absolute;
	right:0;
	margin-top:-35px;

	button {
		color:#fff;
		background-color:#ff4c4c;
		border:none;
		margin-bottom:7px;
		margin-left:5px;
	}

	label {
		position:relative;
		font-weight:400;
		margin-right:10px;
		color:#00284e;
		&:after {
		   
		    color: #ff4c4c;
		    content: "";
		    font-family: FontAwesome;
		    height: 100%;
		    line-height: 14px;
		    padding: 10px 13px;
		    pointer-events: none;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: auto;
		}

		select {
			@include appearance(none);
		  	background-color: transparent;
		    border: 1px solid #00284e;
		    box-shadow: none;
		    color: #00284e;
		    font-family: "Open Sans",sans-serif;
		    font-size: 11px;
		    outline: medium none !important;
		    padding: 0 23px 0 10px;

		    option {
		    	color:#444;
		    }
		}
	}
}

.paginas {
	margin-left:15px;
	margin-bottom:20px;
	max-width:400px;
	display:block;

	a {
		@include google();
		color:#ff4c4c;
		display:inline-block;
		margin-right:10px;
		vertical-align:top;
	}
}


